<div class="l-constrained">
  <div class="l-firm">
    <div class="l-1col">
      <%= heading_tag(t('page_title'), level: 1, class: 'l-firm__profile-heading') %>
      <span class="firm__back-link">
        <%= link_to @rad_consumer_session.search_results_url[I18n.locale.to_s] do %>
          <%= svg_icon 'pagination-prev', class: 'firm__back-icon'
          %><%= t('firms.show.go_back') %>
        <% end %>
      </span>
    </div>

    <div class="l-firm__main">
      <div class="firm">
        <%= render partial: 'firms/partials/header', locals: { search_form: @search_form } %>
        <%= render partial: 'firms/partials/content', locals: { search_form: @search_form } %>
      </div>
    </div>

    <div class="l-firm__side">
      <%= render 'firms/partials/profile_help', search_form: @search_form %>
    </div>
  </div>
</div>
