<% content_for(:adobe_data_layer) do %>
  adobeDataLayer.push({
    "event": "pageLoadDirectory",
    "page": {
      "pageName": "rad-glossary",
      "pageTitle": "<%= t('glossary.page_title') %>",
      "categoryL1": "Pensions & retirement",
      "categoryL2": "Taking your pension",
      "lang": "<%= I18n.locale %>",
      "site": "moneyhelper",
      "pageType": "tool page"
    },
    "tool": {
      "toolName": "Retirement Adviser Directory",
      "toolCategory": ""
    }
  });
<% end %>
<div class="l-constrained">
  <section class="l-glossary">
    <%= heading_tag(t('glossary.page_title'), level: 1) %>

    <% t('search.keywords').each do |key, value| %>
      <%= heading_tag(value[:title], level: 2, id: key, class: 'l-glossary__definition') %>
      <p><%= raw value[:tooltip] %></p>
      <p><%= raw value[:link] %></p>
    <% end %>

    <%= heading_tag(t('search.accreditations.glossary_heading'), level: 2, class: 'l-glossary__heading') %>

    <% t('search.accreditations.items').each do |key, value| %>
      <section class="l-glossary__section">
        <%= image_tag("#{key}.png", alt: value[:title], class: 'accreditation__img accreditation__img--alt') %>
        <%= heading_tag(value[:title], level: 3, id: key, class: 'l-glossary__definition') %>
        <p><%= raw value[:description] %></p>
        <p><%= raw value[:link] %></p>
      </section>
    <% end %>
  </section>
</div>
