<div class="l-constrained">
  <div class="l-results">

    <div class="l-results__main">
      <%= heading_tag( t('search.page_title'), level: 1, class: 'l-results__heading') %>
    </div>

    <div class="l-results__side">
      <section class="search-filter">
        <%= form_for @form, url: search_path, method: 'GET', html: { class: 'form search-filter__form' }, builder: Dough::Forms::Builders::Validation do |f| %>
          <%= heading_tag( t('search.filter.heading'), level: 2, class: 'search-filter__heading search-filter__heading--first' ) %>

          <fieldset class="form__group search-filter__section">
            <legend class="search-filter__label"><%= t('search.filter.receive_advice.heading') %></legend>
            <%= f.form_row(:checkbox) do %>
              <%= f.errors_for :checkbox %>
              <div class="form__group-item">
                <label>
                  <%= f.radio_button :postcode, 0, class: 'form__group-input' %>
                  <%= t('search.filter.receive_advice.face_to_face') %>
                </label>
              </div>

              <div class="form__group-item search-filter__item-inset">
                <%= f.label :postcode, t('search.filter.receive_advice.postcode_label'), class: 'form__label-heading' %>
                <%= f.text_field :postcode, class: 'search-filter__field t-postcode', maxlength: 8 %>
              </div>

              <div class="form__group-item">
                <label>
                  <%= f.radio_button :postcode, 0, class: 'form__group-input' %>
                  <%= t('search.filter.receive_advice.phone_online') %>
                </label>

                <div class="search-filter__item-inset">
                  <div class="form__group-item">
                    <%= f.check_box :checkbox, class: 'form__group-input' %>
                    <%= f.label :checkbox, class: 'search-filter__option' do %>
                      <%= t('online') %>
                    <% end %>
                  </div>

                  <div class="form__group-item">
                    <%= f.check_box :checkbox, class: 'form__group-input' %>
                    <%= f.label :checkbox, class: 'search-filter__option' do %>
                      <%= t('telephone') %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </fieldset>

          <fieldset class="search-filter__section">
            <legend class="search-filter__label"><%= t('search.filter.type_of_advice') %></legend>
            <%= f.form_row(:checkbox) do %>
              <%= f.errors_for :checkbox %>
              <div class="form__group-item search-filter__option-container">
                <%= f.label :checkbox, class: 'search-filter__option' do %>
                  <%= f.check_box :checkbox, class: 'form__group-input' %>
                  <%= t('search_filter.pension_pot.heading') %>
                <% end %>
              </div>

              <% t('search_filter.options').each do |key, item| %>
                <div class="form__group-item search-filter__option-container">
                  <%= f.label key, class: 'search-filter__option' do %>
                    <%= f.check_box key, class: 'form__group-input' %>
                    <%= raw item[:title] %>
                  <% end %>
                </div>
              <% end %>
            <% end %>

            <%= f.form_row(:checkbox) do %>
              <%= f.errors_for :checkbox %>
              <div class="form__group-item">
                <%= f.label :checkbox, t('search_filter.pension_pot.pension_pot_size'), class: 'form__label-heading search-filter__label' %>
                <%= f.select :checkbox, PotSize.all, { include_blank: false }, { class: 'search-filter__inset' } %>
              </div>
            <% end %>
          </fieldset>

          <div class="search-filter__section search-filter__section--button">
            <%= button_primary t('search.filter.button_text') %>
          </div>
        <% end %>
      </section>
    </div>

    <div class="l-results__main">
      <p><%= t('search.summary_of_results.showing') %> <span class="l-results__emphasised t-first-record"><%= @result.first_record %></span> <%= t('search.summary_of_results.to') %> <span class="l-results__emphasised t-last-record"><%= @result.last_record %></span> <%= t('search.summary_of_results.of') %> <span class=" l-results__emphasised t-total-records"><%= @result.total_records %></span> <%= t('search.summary_of_results.firms') %></p>

      <ol class="l-results__list">
        <% @result.firms.each do |firm| %>

          <li class="result t-firm">
            <div class="result__heading">
              <%= heading_tag(firm.name, level: 2, class: 'result__heading-text t-name') %>
              <p class="result__adviser-distance">Adviser <%= number_to_human(firm.closest_adviser, significant: true) %> miles away</p>
            </div>

            <div class="result__address">
              <%= heading_tag(t('search.result.office'), level: 3, class: 'result__sub-heading') %>

              <div class="vcard">
                <p class="address adr">
                  <span class="visually-hidden fn org"><%= firm.name %></span>
                  <span class="address__line street-address">Bircham road</span>
                  <span class="address__line locality">Stanhoe</span>
                  <span class="address__line region">Norfolk</span>
                  <span class="address__line post-code">PE31 8PT</span>
                </p>

                <a href="/" class="address__link tel">
                  <span class="result__icon result__icon--phone"></span>
                  <span class="value"><%= t('Phone number') %></span>
                </a>

                <a href="/" class="address__link email">
                  <span class="result__icon result__icon--email"></span>
                  <span class="value"><%= t('Email address') %></span>
                </a>

                <a href="/" class="address__link url">
                  <span class="result__icon result__icon--url"></span>
                  <span class="value"><%= t('Website URL') %></span>
                </a>
              </div>
            </div>

            <div class="result__advice">
              <div class="result__2col">
                <%= heading_tag(t('search.result.receive_advice'), level: 3, class: 'result__sub-heading') %>

                <ul class="result__list">
                  <li class="result__list-item">At your home</li>
                  <li class="result__list-item">At the firm’s office</li>
                  <li class="result__list-item">At agreed location</li>
                  <li class="result__list-item">Online</li>
                  <li class="result__list-item">Telephone</li>
                </ul>
              </div>

              <div class="result__2col">
                <%= heading_tag(t('search.result.type_of_advice'), level: 3, class: 'result__sub-heading') %>

                <ul class="result__list">
                  <li class="result__list-item">Pension pot(s)/savings</li>
                  <li class="result__list-item">Transferring a pension</li>
                  <li class="result__list-item">Paying for care</li>
                  <li class="result__list-item">Equity release</li>
                  <li class="result__list-item">Inheritance tax planning</li>
                  <li class="result__list-item">Wills & probate</li>
                </ul>
              </div>

              <div class="result__keyword">
                <% t('search.keywords').each do |item| %>
                  <p class="keyword"><%= item[:title] %></p>
                <% end %>
                <a class="keyword__link" href="#glossary"><%= t('search.glossary.link') %></a>
              </div>
            </div>

            <div class="result__qualifications">
              <div class="result__qualifications-inner">
                <p class="result__qualifications-heading"><%= t('search.accreditations.heading') %></p>
                <%= image_tag("adviser_qualifications.png", alt: "t('search.accreditations.logo_alt_text')", class: 'result__logos') %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>

      <%= paginate @result %>

      <div class="glossary" id="glossary">
        <% t('search.keywords').each do |item| %>
          <%= heading_tag(item[:title], level: 3, class: 'glossary__heading') %>
          <p class="glossary__explanation"><%= item[:tooltip] %></p>
        <% end %>
      </div>

      <div class="l-results__back-to-top back-to-top">
        <%= link_to '#top', class: 'back-to-top__link' do  %>
          <%= t('search.back_to_top') %>
          <svg xmlns="http://www.w3.org/2000/svg" class="back-to-top__icon">
            <use xlink:href="#icon-back-to-top"></use>
          </svg>
        <% end %>
      </div>
    </div>

    <div class="l-results__side">
      <%= render partial: 'search/education_module', locals: { key: 'search.education_module_one' } %>
      <%= render partial: 'search/education_module', locals: { key: 'search.education_module_two' } %>
    </div>
  </div>
</div>
