<div class="l-constrained">
  <div class="l-results">
    <p class="l-results__go-back"><%= link_to(t('search.go_back'), root_path) %></p>
    <div class="l-results__main">
      <%= heading_tag( t('search.page_title'), level: 1, class: 'l-results__heading') %>
    </div>

    <div class="l-results__side">
      <section class="search-filter search-filter--border t-criteria" data-results-module>
        <%= form_for @form, url: search_path, method: :get, html: { class: 'form search-filter__form' }, builder: Dough::Forms::Builders::Validation do |f| %>
          <%= hidden_field_tag(:origin, 'results') %>

          <%= content_for :validation_summary do %>
            <div class="l-constrained">
              <div class="l-landing-page__validation">
                <%= f.validation_summary %>
              </div>
            </div>
          <% end %>

          <%= heading_tag(t('search.filter.heading'), level: 2, class: 'search-filter__heading search-filter__heading--first', data: { results_module_heading: '' }) %>

          <div class="search-filter--container is-hidden-on-mobile" data-results-module-target="closed">
            <div class="l-results__filter">
              <fieldset class="form__group search-filter__section">
                <legend class="search-filter__label search-filter__label--padded"><%= t('search.filter.receive_advice.heading') %></legend>

                <div class="l-results__form-row" data-results-filter>
                  <%= f.form_row(:postcode) do %>
                    <%= f.errors_for :postcode %>

                    <div class="form__group-item">
                      <label>
                        <%= f.radio_button :advice_method, SearchForm::ADVICE_METHOD_FACE_TO_FACE, class: 'form__group-input t-face_to_face_advice', data: { results_filter_trigger: '1' } %>
                        <%= t('search.filter.receive_advice.face_to_face') %>
                      </label>
                    </div>

                    <div class="form__group-item search-filter__item-inset is-hidden" data-results-filter-target="2">
                      <%= f.label :postcode, t('search.filter.receive_advice.postcode_label'), class: 'form__label-heading' %>
                      <%= f.text_field :postcode, class: 'search-filter__field search-filter__field--padded t-postcode', maxlength: 8 %>
                    </div>
                  <% end %>

                  <%= f.form_row(:advice_methods) do %>
                    <%= f.errors_for :advice_methods %>

                    <div class="form__group-item">
                      <label>
                        <%= f.radio_button :advice_method, SearchForm::ADVICE_METHOD_PHONE_OR_ONLINE, class: 'form__group-input t-phone_or_online', data: { results_filter_trigger: '2' } %>
                        <%= t('search.filter.receive_advice.phone_online') %>
                      </label>

                      <div class="search-filter__item-inset is-hidden" data-results-filter-target="1">
                        <%= f.collection_check_boxes(:advice_methods, remote_advice_methods, :id, :name) do |advice_method| %>
                          <div class="form__group-item">
                            <%= advice_method.check_box class: "form__group-input t-advice_methods t-advice-method-#{advice_method.object.order}" %>
                            <%= advice_method.label class: 'search-filter__option' do %>
                              <%= t("other_advice_method.ordinal.#{advice_method.object.order}") %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>

            <div class="l-results__filter search-filter__section">
              <%= search_filter_options(f, 'results_page') %>
            </div>

            <div class="l-results__filter-button-container search-filter__section">
              <button class="l-results__filter-button button button--primary"><%= t('search.filter.button_text') %></button>
            </div>
          </div>

        <% end %>
      </section>
    </div>

    <div class="l-results__main">
      <% if @form.valid? %>
        <% if @form.face_to_face? && @form.types_of_advice? %>
          <div class="l-results__message-container">
            <p class="l-results__message"><%= t('search.explanatory_message.best_match') %></p>
          </div>
        <% else %>
          <div class="l-results__message-container">
            <p class="l-results__message"><%= t('search.explanatory_message.distance') %></p>
          </div>
        <% end %>

        <p><%= t('search.summary_of_results.showing') %> <span class="t-first-record"><%= @result.first_record %></span> <%= t('search.summary_of_results.to') %> <span class="t-last-record"><%= @result.last_record %></span> <%= t('search.summary_of_results.of') %> <span class="t-total-records"><%= @result.total_records %></span> <%= t('search.summary_of_results.firms') %></p>

        <% unless @result.firms.any? %>
          <p><%= t('search.no_results_message') %></p>
        <% end %>

        <ol class="l-results__list">
          <% @result.firms.each do |firm| %>
            <li class="result t-firm" data-results-module>
              <div class="result__heading">
                <%= heading_tag(level: 2, class: 'result__heading-text t-name', data: { results_module_heading: '' }) do %>
                  <span class="result__heading-span"><%= firm.name %></span>
                <% end %>
                <% if @form.face_to_face? %>
                  <p class="result__adviser-distance t-adviser-distance"><%= t('search.result.adviser') %> <%= number_to_human(firm.closest_adviser, significant: true) %> <%= t('search.result.miles_away') %></p>
                <% end %>
              </div>

              <div class="is-hidden-on-mobile" data-results-module-target>
                <div class="result__address">
                  <%= heading_tag(t('search.result.office'), level: 3, class: 'result__sub-heading') %>

                  <div class="vcard">
                    <p class="address adr">
                      <span class="visually-hidden fn org"><%= firm.name %></span>
                      <span class="address__line street-address"><%= firm.address_line_one %></span>
                      <span class="address__line locality"><%= firm.address_town %></span>
                      <span class="address__line region"><%= firm.address_county %></span>
                      <span class="address__line post-code"><%= firm.address_postcode %></span>
                    </p>

                    <a href="tel:<%= firm.telephone_number.strip %>" class="address__link phone">
                      <svg title="" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-phone">
                        <use xlink:href="#icon-phone"></use>
                      </svg>
                      <span class="value"><%= number_to_phone(firm.telephone_number.strip, delimiter: ' ') %></span>
                    </a>

                    <% if firm.website_address.present? %>
                      <a href="<%= firm.website_address %>" class="address__link url" target="_blank">
                        <svg title="" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-url">
                          <use xlink:href="#icon-url"></use>
                        </svg>
                        <span class="value"><%= t('search.result.contact_details.url') %></span>
                      </a>
                    <% end %>

                    <a href="mailto:<%= firm.email_address %>" class="address__link email">
                      <svg title="" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-email">
                        <use xlink:href="#icon-email"></use>
                      </svg>
                      <span class="value"><%= t('search.result.contact_details.email') %></span>
                    </a>

                  </div>
                </div>

                <div class="result__advice">
                  <div class="result__2col">
                    <%= heading_tag(t("search.result.recieve_advice.heading"), level: 3, class: 'result__sub-heading') %>

                    <ul class="result__list">
                      <% firm.in_person_advice_methods.each do |id| %>
                        <li class="result__list-item t-in-person-advice-method"><%= InPersonAdviceMethod.friendly_name(id) %></li>
                      <% end %>
                      <% firm.other_advice_methods.each do |id| %>
                        <li class="result__list-item t-other-advice-method"><%= OtherAdviceMethod.friendly_name(id) %></li>
                      <% end %>
                    </ul>
                  </div>

                  <div class="result__2col">
                    <%= heading_tag(t("search.result.type_of_advice.heading"), level: 3, class: 'result__sub-heading') %>

                    <ul class="result__list">
                      <% firm.types_of_advice.each do |type| %>
                        <li class="result__list-item t-type-of-advice"><%= t("search.result.type_of_advice.types.#{type}") %></li>
                      <% end %>
                    </ul>
                  </div>

                  <div class="result__keyword">
                    <% if firm.minimum_fixed_fee? %>
                      <a href="glossary/#minimum_fee" target="_blank" class="keyword">
                        <%= t('search.keywords.minimum_fee.title') %><span class="t-minimum-fixed-fee"><%= number_to_currency(firm.minimum_fixed_fee, unit: '£', precision: 0) %></span>
                      </a>
                    <% end %>
                    <% if firm.free_initial_meeting? %>
                      <a href="glossary/#free_initial_meeting" target="_blank" class="keyword t-free-initial-meeting"><%= t('search.keywords.free_initial_meeting.title') %></a>
                    <% end %>
                    <a href="glossary/#minimum_pot_size" target="_blank" class="keyword">
                      <%= t('search.keywords.minimum_pot_size.title') %>
                      <span class="t-minimum-pot-size"><%= InvestmentSize.friendly_name(firm.minimum_pot_size_id) %></span>
                    </a>
                  </div>
                </div>

                <% content_for(:qualifications, flush: true) do %>
                  <% firm.adviser_qualification_ids.each do |id| %>
                    <%= render_logo(id, :qualification) %>
                  <% end %>
                  <% firm.adviser_accreditation_ids.each do |id| %>
                    <%= render_logo(id, :accreditation) %>
                  <% end %>
                <% end %>

                <% if content_for?(:qualifications) %>
                  <div class="result__qualifications">
                    <p class="result__qualifications-heading"><%= t('search.accreditations.heading') %></p>
                    <div class="result__qualifications-logos">
                      <%= yield :qualifications %>
                    </div>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ol>

        <%= paginate @result %>

        <div class="l-results__back-to-top back-to-top">
          <%= link_to '#top', class: 'back-to-top__link' do %>
            <%= t('search.back_to_top') %>
            <svg title="<%= t('search.back_to_top') %>" xmlns="http://www.w3.org/2000/svg" class="back-to-top__icon">
              <use xlink:href="#icon-back-to-top"></use>
            </svg>
          <% end %>
        </div>

        <% else %>
          <p class="t-incorrect-criteria"><%= t('search.incorrect_search_criteria') %></p>
        <% end %>
    </div>

    <div class="l-results__side">
      <%= render partial: 'search/education_module', locals: { key: 'search.education_module_one' } %>
      <%= render partial: 'search/education_module', locals: { key: 'search.education_module_two' } %>
    </div>
  </div>
</div>
