<div class="l-constrained">
  <section class="l-results__main">
    <%= heading_tag( t('search.page_title'), level: 1) %>

    <p><%= t('search.summary.showing') %> <span class="l-results__emphasised t-first-record"><%= @result.first_record %></span> <%= t('search.summary.to') %> <span class="l-results__emphasised t-last-record"><%= @result.last_record %></span> <%= t('search.summary.of') %> <span class=" l-results__emphasised t-total-records"><%= @result.total_records %></span> <%= t('search.summary.firms') %></p>

    <ol>
      <% @result.firms.each do |firm| %>
        <li class="t-firm">
          <span class="t-name"><%= firm.name %></span>, advisers: <%= firm.total_advisers %> (<%= firm.closest_adviser %>)
        </li>
      <% end %>
    </ol>

    <%= paginate @result %>
  </section>

  <div class="l-results__side">
    <section class="l-results__filter">
    </section>

    <section class="education">
      <%= heading_tag(level: 3, class: 'education__heading') do %>
        <span class="education__icon"></span><%= t('search.education_one.heading') %>
      <% end %>

      <div class="education__content">
        <% t('search.education_one.content').each do |item| %>
          <p><%= item[:text] %></p>
        <% end %>
      </div>
    </section>

    <section class="education">
      <%= heading_tag(level: 3, class: 'education__heading') do %>
        <span class="education__icon"></span><%= t('search.education_two.heading') %>
      <% end %>

      <div class="education__content">
        <% t('search.education_two.content').each do |item| %>
          <p><%= item[:text] %></p>
        <% end %>
      </div>
    </section>
  </div>
</div>
