<div class="l-constrained">
  <div class="l-results">
    <div class="l-results__main">
      <%= heading_tag( t('search.page_title'), level: 1, class: 'l-results__heading') %>
    </div>

    <div class="l-results__side">
      <section class="search-filter search-filter--border t-criteria" data-education-module>
        <%= form_for @form, url: search_path, method: :get, html: { class: 'form search-filter__form' }, builder: Dough::Forms::Builders::Validation do |f| %>
          <%= hidden_field_tag(:origin, 'results') %>

          <%= content_for :validation_summary do %>
            <div class="l-constrained">
              <div class="l-landing-page__validation">
                <%= f.validation_summary %>
              </div>
            </div>
          <% end %>

          <%= heading_tag( t('search.filter.heading'), level: 2, class: 'search-filter__heading search-filter__heading--first', data: { education_module_heading: '' } ) %>

          <div class="search-filter--container" data-education-module-target>
            <div class="l-results__filter">
              <fieldset class="form__group search-filter__section">
                <legend class="search-filter__label search-filter__label--padded"><%= t('search.filter.receive_advice.heading') %></legend>

              <div class="l-results__form-row" data-results-filter>
                <%= f.form_row(:postcode) do %>
                  <%= f.errors_for :postcode %>
                  <div class="form__group-item">
                    <label>
                      <%= f.radio_button :advice_method, SearchForm::ADVICE_METHOD_FACE_TO_FACE, class: 'form__group-input t-face_to_face_advice', data: { results_filter_trigger: '1' } %>
                      <%= t('search.filter.receive_advice.face_to_face') %>
                    </label>
                  </div>

                  <div class="form__group-item search-filter__item-inset" data-results-filter-target="2">
                    <%= f.label :postcode, t('search.filter.receive_advice.postcode_label'), class: 'form__label-heading' %>
                    <%= f.text_field :postcode, class: 'search-filter__field search-filter__field--padded t-postcode', maxlength: 8 %>
                  </div>
                <% end %>

                <%= f.form_row(:advice_methods) do %>
                  <%= f.errors_for :advice_methods %>
                    <div class="form__group-item">
                      <label>
                        <%= f.radio_button :advice_method, SearchForm::ADVICE_METHOD_PHONE_OR_ONLINE, class: 'form__group-input t-phone_or_online', data: { results_filter_trigger: '2' } %>
                        <%= t('search.filter.receive_advice.phone_online') %>
                      </label>

                      <div class="search-filter__item-inset" data-results-filter-target="1">
                        <%= f.collection_check_boxes(:advice_methods, remote_advice_methods, :id, :name) do |advice_method| %>
                          <div class="form__group-item">
                            <%= advice_method.check_box class: "form__group-input t-advice_methods t-advice-method-#{advice_method.object.order}" %>
                            <%= advice_method.label class: 'search-filter__option' do %>
                              <%= t("advice_methods.ordinal.#{advice_method.object.order}") %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>

            <div class="l-results__filter search-filter__section">
              <%= search_filter_options(f, 'results_page') %>
            </div>

            <div class="l-results__filter-button-container search-filter__section">
              <button class="l-results__filter-button button button--primary"><%= t('search.filter.button_text') %></button>
            </div>
          </div>

        <% end %>
      </section>
    </div>

    <div class="l-results__main">
      <% if @form.valid? %>
        <p><%= t('search.summary_of_results.showing') %> <span class="l-results__emphasised t-first-record"><%= @result.first_record %></span> <%= t('search.summary_of_results.to') %> <span class="l-results__emphasised t-last-record"><%= @result.last_record %></span> <%= t('search.summary_of_results.of') %> <span class=" l-results__emphasised t-total-records"><%= @result.total_records %></span> <%= t('search.summary_of_results.firms') %></p>

        <% unless @result.firms.any? %>
          <p><%= t('search.no_results_message') %></p>
        <% end %>

        <ol class="l-results__list">
          <% @result.firms.each do |firm| %>

            <li class="result t-firm">
              <div class="result__heading">
                <%= heading_tag(firm.name, level: 2, class: 'result__heading-text t-name') %>
                <p class="result__adviser-distance"><%= t('search.result.adviser') %> <%= number_to_human(firm.closest_adviser, significant: true) %> <%= t('search.result.miles_away') %></p>
              </div>

              <div class="result__address">
                <%= heading_tag(t('search.result.office'), level: 3, class: 'result__sub-heading') %>

                <div class="vcard">
                  <p class="address adr">
                    <span class="visually-hidden fn org"><%= firm.name %></span>
                    <span class="address__line street-address">Bircham road</span>
                    <span class="address__line locality">Stanhoe</span>
                    <span class="address__line region">Norfolk</span>
                    <span class="address__line post-code">PE31 8PT</span>
                  </p>

                  <% t('search.result.contact_details').each do |item| %>
                    <a href="<%= item[:href] %>" class="address__link">
                      <svg title="" xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon-<%= item[:icon_class] %>">
                        <use xlink:href="#icon-<%= item[:icon_class] %>"></use>
                      </svg>
                      <span class="value"><%= item[:text] %></span>
                    </a>
                  <% end %>
                </div>
              </div>

              <div class="result__advice">
                <%= render partial: 'search/result_list', locals: { key: 'search.result.recieve_advice' } %>
                <%= render partial: 'search/result_list', locals: { key: 'search.result.type_of_advice' } %>

                <div class="result__keyword">
                  <% t('search.keywords').each do |item| %>
                    <a href="glossary/#<%= item[:id] %>" target="_blank" class="keyword"><%= item[:title] %></a>
                  <% end %>
                </div>
              </div>

              <div class="result__qualifications">
                <p class="result__qualifications-heading"><%= t('search.accreditations.heading') %></p>

                <div class="result__qualifications-logos">
                  <% t('search.accreditations.items').each do |item| %>
                    <a href="glossary/#<%= item[:id] %>" target="_blank" class="accreditation">
                      <%= image_tag("#{item[:id]}.png", alt: item[:title], class: 'accreditation__img') %>
                    </a>
                  <% end %>
                </div>
              </div>
            </li>incorrect_search_criteria
          <% end %>
        </ol>

        <%= paginate @result %>

        <div class="l-results__back-to-top back-to-top">
          <%= link_to '#top', class: 'back-to-top__link' do %>
            <%= t('search.back_to_top') %>
            <svg title="<%= t('search.back_to_top') %>" xmlns="http://www.w3.org/2000/svg" class="back-to-top__icon">
              <use xlink:href="#icon-back-to-top"></use>
            </svg>
          <% end %>
        </div>
      <% else %>
        <p><%= t('search.incorrect_search_criteria') %></p>
      <% end %>
    </div>

    <div class="l-results__side">
      <%= render partial: 'search/education_module', locals: { key: 'search.education_module_one' } %>
      <%= render partial: 'search/education_module', locals: { key: 'search.education_module_two' } %>
    </div>
  </div>
</div>
