<div class="contact-panel contact-panel--last">
  <h2 aria-level="2" class="contact-panel__heading t-contact-heading" role="heading">
    <span class="icon icon--call-us"></span>
    <%= t('contact_panels.call_us.title') %>
  </h2>
  <ul class="contact-panel__list">
    <li class="t-contact-introduction contact-panel__additional-info contact-panel__contact-introduction">
      <%= t('contact_panels.call_us.description') %>
    </li>
    <li>
      <p class="contact-panel__contact-number">
        <a class="contact-panel__telephone t-contact-number" href="<%= t('contact_panels.call_us.telephone_number_url') %>">
          <%= t('contact_panels.call_us.telephone_number') %>
        </a>
      </p>
    </li>
    <%= t('contact_panels.call_us.opening_times_html') %>
  </ul>
</div>
