<div class="l-footer-primary__left">
  <ul class="l-footer-primary__social-sharing t-footer-social-links">
    <li class="l-footer-primary__list--left">
      <div class="footer-primary__list-item">
        <a class="button facebook-link t-facebook-link" lang="en" href="https://www.facebook.com/MoneyAdviceService?ref=mas" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--facebook" aria-labelledby="facebook-label" focusable="false">
            <title id="facebook-label">Money Advice Service Facebook page</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--facebook"></use>
          </svg>
          <span class="icon icon--facebook"></span>
          <span class="visually-hidden">Facebook - <%= t('footer_primary.new-window-label') %></span>
        </a>
        <p class="social-sharing__counter">
          <span class="social-sharing__counter__total">72k</span>
          <span class="social-sharing__counter__label"><%= t('footer_primary.facebook-likes') %></span>
        </p>
      </div>
    </li>
    <li class="l-footer-primary__list--centre">
      <div class="footer-primary__list-item">
        <a class="button twitter-link t-twitter-link" lang="en" href="https://twitter.com/YourMoneyAdvice" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--twitter" aria-labelledby="twitter-label" focusable="false">
            <title id="twitter-label">Money Advice Service Twitter page</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--twitter"></use>
          </svg>
          <span class="icon icon--twitter"></span>
          <span class="visually-hidden">Twitter - <%= t('footer_primary.new-window-label') %></span>
        </a>
        <p class="social-sharing__counter">
          <span class="social-sharing__counter__total">45k</span>
          <span class="social-sharing__counter__label"><%= t('footer_primary.twitter-followers') %></span>
        </p>
      </div>
    </li>
    <li class="l-footer-primary__list--right">
      <div class="footer-primary__list-item">
        <a class="button youtube-link t-youtube-link" lang="en" href="https://www.youtube.com/user/MoneyAdviceService" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--youtube" aria-labelledby="youtube-label" focusable="false">
            <title id="youtube-label">Money Advice Service Youtube channel</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--youtube"></use>
          </svg>
          <span class="icon icon--youtube"></span>
          <span class="visually-hidden">Youtube - <%= t('footer_primary.new-window-label') %></span>
        </a>
        <p class="social-sharing__counter">
          <span class="social-sharing__counter__total">5.6m</span>
          <span class="social-sharing__counter__label"><%= t('footer_primary.youtube-views') %></span>
        </p>
      </div>
    </li>
  </ul>
</div>
