<div class="l-contact-panel">
  <div class="contact-panel contact-panel--last t-footer-social-links">
    
    <h2 aria-level="2" class="contact-panel__heading" role="heading">
      <span class="icon icon--sharing"></span>
      <%= t('contact_panels.social.heading') %>
    </h2>
    <p><%= t('contact_panels.social.description') %></p>

    <div class="contact-panel__button-container">
      <a class="button contact-panel__button contact-panel__button--sharing t-twitter-link" lang="en" href="https://twitter.com/YourMoneyAdvice">
        <span class="icon icon--twitter-black"></span>
        <span class="visually-hidden"><%= t('contact_panels.social.twitter') %></span>
      </a>

      <a class="button contact-panel__button contact-panel__button--sharing t-facebook-link" lang="en" href="https://www.facebook.com/MoneyAdviceService?ref=mas">
        <span class="icon icon--facebook-black"></span>
        <span class="visually-hidden"><%= t('contact_panels.social.facebook') %></span>
      </a>

      <a class="button contact-panel__button contact-panel__button--sharing t-youtube-link" lang="en" href="https://www.youtube.com/user/MoneyAdviceService">
        <span class="icon icon--youtube-black"></span>
        <span class="visually-hidden"><%= t('contact_panels.social.youtube') %></span>
      </a>
    </div>

    <p class="contact-panel__additional-info">
      <%= t('contact_panels.social.contact_html') %>
    </p>
  </div>
</div>
