<div class="contact-panel contact-panel__chat-open" id="js-whatsapp">
  <h2 aria-level="2" class="contact-panel__heading" role="heading">
    <%= render 'contact_methods/whatsapp_logo' %>
    WhatsApp
  </h2>
  <div class="contact-panel__dynamic-content is-loaded" id="js-whatsapp-content">
    <ul class="contact-panel__chat-description contact-panel__list unstyled-list" id="js-whatsapp-description">
      <li class="contact-panel__additional-info">
        <p>
          <%= t('contact_panels.whatsapp.text1') %></br>
          <%= t('contact_panels.whatsapp.text2') %>
        </p>
      </li>
      <li class="contact-panel__additional-info">
        <p><%= t('contact_panels.whatsapp.text3') %></p>
      </li>
    </ul>

    <p class="smallprint">
      <%= t('contact_panels.language_availability') %>
    </p>

    <% if chat_opening_hours.open? %>
      <div class="contact-panel__button-container">
        <a class="contact-panel__button button t-whatsapp-button" href="https://wa.me/447701342744">
          <%= t('contact_panels.webchat.available.call_to_action') %>
        </a>
      </div>
    <% else %>
      <p>
        <%= t('contact_panels.webchat.unavailable.call_to_action') %>
      </p>
    <% end %>
  </div>
</div>
