<%= form_for @form, url: search_path, method: :get, html: { class: 'search-filter__form form t-in-person', novalidate: true }, data: { search_filter: '' }, builder: Dough::Forms::Builders::Validation do |f| %>
  <%= f.hidden_field :advice_method, value: SearchForm::ADVICE_METHOD_FACE_TO_FACE %>

  <%= content_for :validation_summary do %>
    <div class="l-constrained">
      <div class="l-landing-page__validation">
        <%= f.validation_summary %>
      </div>
    </div>
  <% end %>
  <div class="search-filter--container is-hidden-on-mobile" data-results-module-target="closed">
    <div class="l-results__filter">
      <fieldset class="form__group search-filter__section">

        <%= render partial: 'search/partials/filters/advice_method', locals: {f: f} %>
        <%= render 'shared/search_button', button_class: "search-filter__button" %>
      </fieldset>
    </div>
  </div>
<% end %>
