<fieldset class="search__component">
  <legend class="search__label"><%= t('search_filter.in_person.subheading') %></legend>
  <%= f.form_row(:checkbox) do %>
    <%= f.errors_for :checkbox %>

    <div class="form__group-item" data-further-info>
      <%= f.check_box :checkbox, class: 'form__group-input' %>
      <%= f.label :checkbox, class: '' do %>
        <%= t('search_filter.in_person.retirement_income_products.heading') %>
        <a href="" class="further-info__trigger" data-further-info-trigger>(what's this?)</a>
        <p class="is-hidden further-info" data-further-info-target><%= t('search_filter.in_person.retirement_income_products.tooltip') %></p>
      <% end %>
    </div>

    <% t('search_filter.in_person.options').each do |item| %>
      <div class="form__group-item" data-further-info>
        <%= f.check_box :checkbox, class: 'form__group-input' %>
        <%= f.label :checkbox, class: '' do %>
          <%= item[:title] %>
          <a href="" class="further-info__trigger" data-further-info-trigger>(what's this?)</a>
          <p class="is-hidden further-info" data-further-info-target><%= item[:tooltip] %></p>
        <% end %>
      </div>
    <% end %>

  <% end %>
</fieldset>
