<fieldset class="search-filter__section">
  <legend class="search-filter__label"><%= t('search_filter.subheading') %></legend>
  <p class="search-filter__label-instructions"><%= t('search_filter.instructions') %></p>
  <%= f.form_row(:checkbox) do %>
    <%= f.errors_for :checkbox %>

    <div data-nested-options-component>
      <div class="form__group-item" data-further-info>
        <%= f.check_box :pension_pot, class: 'form__group-input', data: { nested_options_trigger: '' } %>
        <%= f.label :pension_pot, class: 'search-filter__option' do %>
          <%= t('search_filter.pension_pot.heading') %>
        <% end %>
      </div>

      <div class="search-filter__nested-options is-hidden" data-nested-options>
        <div class="form__group-item" data-further-info>
          <%= f.label :checkbox, t('search_filter.pension_pot.pension_pot_size'), class: 'form__label-heading' %>
          <%= f.select :pension_pot_size, @form.pension_pot_sizes, { selected: SearchFormFilters::ANY_SIZE_VALUE, include_blank: false }, { class: 'search-filter__inset' } %>
        </div>

        <div class="form__group-item" data-further-info>
          <%= f.check_box :pension_transfer, class: 'form__group-input' %>
          <%= f.label :pension_transfer, class: 'search-filter__option' do %>
            <%= t('search_filter.pension_pot.pension_transfer.heading') %>
            <a href="" class="further-info__trigger" data-further-info-trigger><%= t('learn_more') %></a>
            <p class="is-hidden further-info" data-further-info-target><%= t('search_filter.pension_pot.pension_transfer.tooltip') %></p>
          <% end %>
        </div>
      </div>
    </div>

    <% t('search_filter.options').each do |key, item| %>
      <div class="form__group-item" data-further-info>
        <%= f.check_box key, class: 'form__group-input' %>
        <%= f.label key, class: 'search-filter__option' do %>
          <%= raw item[:title] %>
          <a href="" class="further-info__trigger" data-further-info-trigger><%= t('learn_more') %></a>
          <p class="is-hidden further-info" data-further-info-target><%= raw item[:tooltip] %></p>
        <% end %>
      </div>
    <% end %>

  <% end %>
</fieldset>
