<fieldset>
  <legend class="search-filter__label"><%= t("search_filter.landing_page.heading") %></legend>
  <% if search_filter_options_description? %>
    <p class="search-filter__label-instructions"><%= t("search_filter.#{page_name}.instructions") %></p>
  <% end %>

  <%= f.form_row(:checkbox) do %>
    <%= f.errors_for :checkbox %>
    <div data-nested-options-component>
      <div class="form__group-item" data-further-info>
        <%= f.check_box :retirement_income_products, class: 't-retirement-income-products form__group-input search-filter__checkbox', data: { nested_options_trigger: '' } %>
        <%= f.label :retirement_income_products, class: 'search-filter__option' do %>
          <%= t('search_filter.pension_pot.heading') %>
        <% end %>
      </div>

      <div class="search-filter__nested-options is-hidden" data-nested-options>
        <div class="form__group-item" data-further-info>
          <%= f.label :checkbox, t('search_filter.pension_pot.pension_pot_size'), class: 'form__label-heading' %>
          <%= f.select :pension_pot_size, @form.pension_pot_sizes, { selected: (page_name == 'landing_page' ? SearchForm::ANY_SIZE_VALUE : @form.pension_pot_size), include_blank: false }, { class: 't-pension-pot-size search-filter__inset search-filter__constrained' } %>
        </div>

        <div class="form__group-item" data-further-info>
          <%= f.check_box :pension_transfer, class: 't-pension-transfer form__group-input search-filter__checkbox' %>
          <%= f.label :pension_transfer, class: 'search-filter__option' do %>
            <%= t('search_filter.pension_pot.pension_transfer.heading') %>
            <a href="" class="further-info__trigger" data-further-info-trigger><%= t('learn_more') %></a>
            <p class="is-hidden further-info__content" data-further-info-target><%= t('search_filter.pension_pot.pension_transfer.tooltip') %></p>
          <% end %>
        </div>
      </div>
    </div>

    <% t('search_filter.options').each do |key, item| %>
      <div class="form__group-item" data-further-info>
        <%= f.check_box key, class: "form__group-input t-#{key} search-filter__checkbox" %>
        <%= f.label key, class: 'search-filter__option' do %>
          <%= raw item[:title] %>
          <a href="" class="further-info__trigger" data-further-info-trigger><%= t('learn_more') %></a>
          <p class="is-hidden further-info__content" data-further-info-target><%= raw item[:tooltip] %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</fieldset>
