<div class="search-filter">
  <%= form_for @form, url: search_path, method: :get, namespace: 'in_person', html: { class: 'search-filter__form form t-in-person' }, data: { search_filter: '' }, builder: Dough::Forms::Builders::Validation do |f| %>
    <%= f.hidden_field :advice_method, value: SearchForm::ADVICE_METHOD_FACE_TO_FACE %>

    <%= content_for :validation_summary do %>
      <div class="l-constrained">
        <div class="l-landing-page__validation">
          <%= f.validation_summary %>
        </div>
      </div>
    <% end %>

    <%= heading_tag(level: 3, class: 'search-filter__heading search-filter__heading--first', data: { search_filter_heading: ''}) do %>
      <span class="search-filter__triangle-icon search-filter__triangle-icon--down" data-search-filter-icon></span>
      <span class="search-filter__heading-text"><%= t('search_filter.in_person.heading') %></span>
    <% end %>


    <div data-search-filter-target>
      <div class="search-filter__section search-filter__section--padded">


        <%= f.form_row(:postcode) do %>
          <%= f.errors_for :postcode %>
          <%= f.label :postcode, t('search_filter.in_person.postcode_label'), class: 'form__label-heading search-filter__label' %>
          <%= f.text_field :postcode, class: 'search-filter__field t-postcode', placeholder: '', maxlength: 8, data: { geo_location_placeholder: '' } %>
          <small class="is-displayed">For example, it looks like you're near <span data-geo-location></span></small>
        <% end %>

        <%= search_filter_options(f, 'landing_page') %>

        <button class="button button--primary search-filter__button search-filter__button--inline"><%= t('search_filter.in_person.button_text') %></button>
      </div>
    </div>
  <% end %>

  <%= form_for @form, url: search_path, method: :get, namespace: 'remote', html: { class: 'form search-filter__form t-remote' }, data: { search_filter: '' }, builder: Dough::Forms::Builders::Validation do |f| %>
    <%= f.hidden_field :advice_method, value: SearchForm::ADVICE_METHOD_PHONE_OR_ONLINE %>

    <%= heading_tag(level: 3, class: 'search-filter__heading search-filter__heading--second', data: { search_heading_second: '', search_filter_heading: ''}) do %>
      <span class="search-filter__triangle-icon" data-search-filter-icon></span>
      <span class="search-filter__heading-text"><%= t('search_filter.remote.heading') %></span>
    <% end %>

    <div class="is-hidden" data-search-filter-target="closed">
      <div class="search-filter__section search-filter__section--padded">

        <div class="form__group form__group--inline">
          <%= f.form_row(:advice_methods) do %>
            <%= f.errors_for :advice_methods %>
            <%= f.collection_check_boxes(:advice_methods, remote_advice_methods, :id, :name) do |advice_method| %>
              <div class="form__group-item">
                <%= advice_method.check_box class: "form__group-input t-advice_methods t-advice-method-#{advice_method.object.order}" %>
                <%= advice_method.label do %>
                  <%= t("other_advice_method.ordinal.#{advice_method.object.order}") %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <%= search_filter_options(f, 'landing_page') %>

        <button class="button button--primary search-filter__button"><%= t('search_filter.in_person.button_text') %></button>
      </div>
    </div>
  <% end %>
</div>
