<%= form_for @form, url: search_path,
                    method: :get,
                    html: {class: 'form form--collapse t-in-person',
                           novalidate: true},
                    data: {search_filter: '',
                           dough_component: 'Validation',
                           'dough-validation-config' =>
                           '{"showInlineValidation":false, "showValidationSummaryLinks":false}'
                            },
                    builder: Dough::Forms::Builders::Validation do |f| %>

  <%= content_for :validation_summary do %>
    <div class="l-constrained">
      <div class="l-landing-page__validation">
        <%= f.validation_summary %>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :pension_pot_size, value: SearchForm::ANY_SIZE_VALUE %>

  <div class="search-filter--container">
    <div class="l-results__filter">
      <fieldset class="form__group search-filter__section">
        <%= render partial: 'search/partials/filters/advice_method', locals: {f: f} %>
        <%= render 'search_button', button_class: "search-filter__button" %>
      </fieldset>
    </div>
  </div>
<% end %>
