<h1>Search Results</h1>

<div>
  Showing <span class="t-first-record"><%= @result.first_record %></span> to <span class="t-last-record"><%= @result.last_record %></span> of <span class="t-total-records"><%= @result.total_records %></span>
</div>

<ol>
  <% @result.firms.each do |firm| %>
    <li class="t-firm">
      <span class="t-name"><%= firm.name %></span>, advisers: <%= firm.total_advisers %> (<%= firm.closest_adviser %>)
    </li>
  <% end %>
</ol>

<%= paginate(@result) %>
