<div class="l-landing-page__background">
  <div class="l-constrained">
    <section class="l-landing-page__1col">
      <%= heading_tag(level: 1) do %>
        <%= t('page_title') %>
        <sup class="beta-tag"><%= t('beta_tag') %></sup>
      <% end %>
      <p><%= t('trust_banner.heading') %></p>

      <ul class="list-benefits banner-list">
        <% t('trust_banner.items').each do |item| %>
          <li data-further-info>
            <%= raw item[:text] %>
            <% if item[:tooltip] %>
              <a class="further-info__trigger" href="" data-further-info-trigger><%= t('learn_more') %><span class="visually-hidden"><%= t('learn_more_hidden_text') %></span></a>
              <p class="further-info is-hidden" data-further-info-target><%= item[:tooltip] %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="l-constrained">
  <section class="l-landing-page__2col">
    <%= heading_tag(t('find_retirement_adviser.heading'), level: 2) %>
    <p><%= t('find_retirement_adviser.description') %></p>

      <div class="search-filter">
        <section class="t-in-person" data-search-filter>
          <%= form_for @form, url: search_path, method: 'GET', html: { class: 'form search-filter__form' }, builder: Dough::Forms::Builders::Validation do |f| %>
            <%= f.validation_summary %>
            <%= heading_tag( level: 3, class: 'search-filter__heading search-filter__heading--first', data: { search_filter_heading: ''}) do %>
              <span class="search-filter__triangle-icon search-filter__triangle-icon--down" data-search-filter-icon></span>
              <span class="search-filter__heading-text"><%= t('search_filter.in_person.heading') %></span>
            <% end %>

            <div data-search-filter-target>
              <div class="search-filter__section">
                <%= f.form_row(:postcode) do %>
                  <%= f.errors_for :postcode %>
                  <%= f.label :postcode, t('search_filter.in_person.postcode_label'), class: 'form__label-heading search-filter__label' %>
                  <%= f.text_field :postcode, class: 'search-filter__field t-postcode', maxlength: 8 %>
                  <button class="button button--primary search-filter__button search-filter__button--inline"><%= t('search_filter.in_person.button_text') %></button>
                <% end %>
              </div>

              <%= render partial: 'landing_page/search_filter_options', locals: { f: f } %>
            </div>
          <% end %>
        </section>

        <section class="t-remote" data-search-filter>
          <%= form_for @remote_form, url: search_remote_advice_path, method: 'GET', html: { class: 'form search-filter__form' }, builder: Dough::Forms::Builders::Validation do |f| %>
            <%= f.validation_summary %>
            <%= heading_tag(level: 3, class: 'search-filter__heading search-filter__heading--second', data: { search_heading_second: '', search_filter_heading: ''}) do %>
              <span class="search-filter__triangle-icon" data-search-filter-icon></span>
              <span class="search-filter__heading-text"><%= t('search_filter.remote.heading') %></span>
            <% end %>

            <div class="is-hidden" data-search-filter-target>
              <div class="search-filter__section form__group form__group--inline">
                <%= f.form_row(:advice_methods) do %>
                  <%= f.errors_for :advice_methods %>
                  <%= f.collection_check_boxes(:advice_methods, remote_advice_methods, :id, :name) do |advice_method| %>
                    <div class="form__group-item search-filter__checkbox-container">
                      <%= advice_method.check_box class: "form__group-input t-advice_methods t-advice-method-#{advice_method.object.order}" %>
                      <%= advice_method.label do %>
                        <%= t("advice_methods.ordinal.#{advice_method.object.order}") %>
                      <% end %>
                    </div>
                  <% end %>

                  <button class="button button--primary search-filter__button"><%= t('search_filter.in_person.button_text') %></button>
                <% end %>
              </div>

              <%= render partial: 'landing_page/search_filter_options', locals: { f: f } %>
            </div>
          <% end %>
        </section>

      </div>
  </section>

  <section class="l-landing-page__2col">
    <%= heading_tag(t('find_retirement_adviser.subheading'), level: 2) %>
    <div class="video-wrapper">
      <iframe class="video" src="https://player.vimeo.com/video/121550879" width="560" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="video__description"><%= t('find_retirement_adviser.video.description') %></p>
    <a class="video__transcript-link" href="<%= t('find_retirement_adviser.video.download_transcript_link') %>"><%= t('find_retirement_adviser.video.download_transcript_text') %></a>

    <div class="advert">
      <%= image_tag('pensionwise_logo.png', class: 'advert__img') %>
      <%= heading_tag(t('pension_wise.heading'), level: 3, class: 'heading-extra-small') %>
      <p class="advert__intro"><%= t('pension_wise.description_html') %></p>
    </div>

    <section data-further-info>
      <%= heading_tag(level: 3, class: 'further-info__heading', data: { further_info_trigger: '', further_info_trigger_alt: '' }) do %>
        <%= t('workplace_scheme.question') %>
      <% end %>
      <p class="further-info is-hidden" data-further-info-target><%= t('workplace_scheme.tooltip') %></p>
    </section>
  </section>
</div>

<div class="l-landing-page__background">
  <section class="l-constrained">
    <div class="l-landing-page__2col l-landing-page__2col--right">
      <%= heading_tag(t('more_reasons.heading'), level: 3) %>

      <ul class="list-benefits">
        <% t('more_reasons.key_points').each do |item| %>
          <li><%= item[:text] %></li>
        <% end %>
      </ul>
    </div>

    <div class="l-landing-page__2col l-landing-page__2col--padded">
      <div class="video-wrapper">
        <img class="video" src="http://placehold.it/600x360" />
      </div>
      <p class="video__description"><%= t('more_reasons.video.description') %></p>
      <a class="video__transcript-link" href="<%= t('more_reasons.video.download_transcript_link') %>"><%= t('more_reasons.video.download_transcript_text') %></a>
    </div>
  </section>
</div>

<div class="l-constrained">
  <section class="l-landing-page__3col">
    <%= heading_tag(t('useful_links.heading'), level: 2, class: 'l-landing-page__heading') %>
    <ul class="unstyled-list">
      <% t('useful_links.links').each do |item| %>
        <li><a href="<%= item[:url] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </section>

  <section class="l-landing-page__3col">
    <%= heading_tag(t('our_promise.heading'), level: 2, class: 'l-landing-page__heading') %>
    <ul class="list-benefits">
      <% t('our_promise.key_points').each do |item| %>
        <li><%= item[:text] %></li>
      <% end %>
    </ul>
  </section>

  <section class="l-landing-page__3col">
    <%= heading_tag(t('retirement_income_options.heading'), level: 2, class: 'l-landing-page__heading') %>
    <% t('retirement_income_options.content').each do |item| %>
      <p><%= raw item[:text] %></p>
    <% end %>
    <a class="button button--secondary l-landing-page__button is-disabled" href="<%= t('retirement_income_options.link_url') %>" target="_blank"><%= t('retirement_income_options.link_text') %></a>
  </section>
</div>
