<div class="l-landing-page__background">
  <div class="l-constrained">
    <section class="l-landing-page__1col">
      <%= heading_tag(level: 1) do %>
        <%= t('page_title') %>
        <sup class="beta-tag"><%= t('beta_tag') %></sup>
      <% end %>
      <p><%= t('trust_banner.heading') %></p>

      <ul class="list-benefits banner-list">
        <% t('trust_banner.items').each do |item| %>
          <li data-further-info>
            <%= raw item[:text] %>
            <% if item[:tooltip] %>
              <a class="further-info__trigger" href="" data-further-info-trigger><%= t('learn_more') %><span class="visually-hidden"><%= t('learn_more_hidden_text') %></span></a>
              <p class="further-info is-hidden" data-further-info-target><%= item[:tooltip] %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="l-constrained">
  <section class="l-landing-page__2col">
    <%= heading_tag(t('find_retirement_adviser.heading'), level: 2) %>
    <p><%= t('find_retirement_adviser.description') %></p>

    <%= render 'landing_page/search_filter' %>
  </section>

  <section class="l-landing-page__2col">
    <%= heading_tag(t('find_retirement_adviser.subheading'), level: 2) %>
    <div class="video-wrapper">
      <iframe class="video" src="https://player.vimeo.com/video/121550879" width="560" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="video__description"><%= t('find_retirement_adviser.video.description') %></p>
    <a class="video__transcript-link" href="<%= t('find_retirement_adviser.video.download_transcript_link') %>"><%= t('find_retirement_adviser.video.download_transcript_text') %></a>

    <div class="advert">
      <%= image_tag('pensionwise_logo.png', class: 'advert__img') %>
      <%= heading_tag(t('pension_wise.heading'), level: 3, class: 'heading-extra-small') %>
      <p class="advert__intro"><%= t('pension_wise.description_html') %></p>
    </div>

    <section data-further-info>
      <%= heading_tag(level: 3, class: 'further-info__heading', data: { further_info_trigger: '', further_info_trigger_alt: '' }) do %>
        <%= t('workplace_scheme.question') %>
      <% end %>
      <p class="further-info is-hidden" data-further-info-target><%= t('workplace_scheme.tooltip') %></p>
    </section>
  </section>
</div>

<div class="l-landing-page__background">
  <section class="l-constrained">
    <div class="l-landing-page__2col l-landing-page__2col--right">
      <%= heading_tag(t('more_reasons.heading'), level: 3) %>

      <ul class="list-benefits">
        <% t('more_reasons.key_points').each do |item| %>
          <li><%= item[:text] %></li>
        <% end %>
      </ul>
    </div>

    <div class="l-landing-page__2col l-landing-page__2col--padded">
      <div class="video-wrapper">
        <img class="video" src="http://placehold.it/600x360" />
      </div>
      <p class="video__description"><%= t('more_reasons.video.description') %></p>
      <a class="video__transcript-link" href="<%= t('more_reasons.video.download_transcript_link') %>"><%= t('more_reasons.video.download_transcript_text') %></a>
    </div>
  </section>
</div>

<div class="l-constrained">
  <section class="l-landing-page__3col">
    <%= heading_tag(t('useful_links.heading'), level: 2, class: 'l-landing-page__heading') %>
    <ul class="unstyled-list">
      <% t('useful_links.links').each do |item| %>
        <li><a href="<%= item[:url] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </section>

  <section class="l-landing-page__3col">
    <%= heading_tag(t('our_promise.heading'), level: 2, class: 'l-landing-page__heading') %>
    <ul class="list-benefits">
      <% t('our_promise.key_points').each do |item| %>
        <li><%= item[:text] %></li>
      <% end %>
    </ul>
  </section>

  <section class="l-landing-page__3col">
    <%= heading_tag(t('retirement_income_options.heading'), level: 2, class: 'l-landing-page__heading') %>
    <p><%= t('retirement_income_options.content') %></p>
    <a class="button button--primary l-landing-page__button " href="<%= t('retirement_income_options.link_url') %>" target="_blank"><%= t('retirement_income_options.link_text') %></a>
  </section>
</div>
