<div class="l-constrained">
  <section class="l-landing-page__2col">
    <%= heading_tag(level: 1, class: 'l-landing-page__title') do %>
      <%= t('page_title') %>
    <% end %>
  </section>
  <section class="l-landing-page__2col">
    <div class="l-landing-page__register-link">
      <%= link_to t('rad_signup_link'), rad_signup_url %>
    </div>
  </section>
</div>

<div class="l-landing-page__find-adviser">
  <div class="l-constrained">
    <section class="l-landing-page__2col">
      <%= heading_tag(t('find_retirement_adviser.heading'), level: 2) %>
      <p><%= t('find_retirement_adviser.description') %></p>

      <%= render 'landing_page/search_filter' %>
    </section>
    <section class="l-landing-page__2col">
      <h2><%= t('trust_banner.heading') %></h2>

      <ul class="list-benefits banner-list">
        <% t('trust_banner.items').each do |item| %>
          <li data-further-info>
            <%= raw item[:text] %>
            <% if item[:tooltip] %>
              <a class="further-info__trigger" href="" data-further-info-trigger><%= t('learn_more') %><span class="visually-hidden"><%= t('learn_more_hidden_text') %></span></a>
              <p class="is-hidden further-info__content" data-further-info-target><%= item[:tooltip] %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="l-constrained">
  <section class="l-landing-page__2col">
    <%= heading_tag(t('find_retirement_adviser.subheading'), level: 2) %>
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_MMnVaQeFqk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="video__description"><%= t('find_retirement_adviser.video.description') %>
      <a class="video__transcript-link" target="_blank" href="<%= t('find_retirement_adviser.video.download_transcript_link') %>"><%= t('find_retirement_adviser.video.download_transcript_text') %></a>
    </p>
  </section>
  <section class="l-landing-page__2col">
    <div class="advert">
      <%= image_tag('pensionwise_logo.png', class: 'advert__img', alt: '') %>
      <%= heading_tag(t('pension_wise.heading'), level: 3, class: 'heading-extra-small') %>
      <% t('pension_wise.description').each do |item| %>
        <p class="advert__intro"><%= raw item[:text] %></p>
      <% end %>
    </div>

    <section data-education-module>
      <%= heading_tag(level: 3, class: 'education__heading', data: { education_module_heading: '' }) do %>
        <span class="education__heading-text"><%= t('workplace_scheme.question') %></span>
      <% end %>
      <p class="is-hidden education__content" data-education-module-target><%= t('workplace_scheme.tooltip') %></p>
    </section>
  </section>
</div>

<div class="l-landing-page__advice-reasons">
  <div class="l-constrained">
    <div class="l-landing-page__2col">
      <%= heading_tag(t('more_reasons.heading'), level: 2) %>

      <ul class="list-benefits">
        <% t('more_reasons.key_points').each do |item| %>
          <li><%= item[:text] %></li>
        <% end %>
      </ul>

      <p><%= t('more_reasons.guides_html') %></p>
    </div>

    <div class="l-landing-page__2col l-landing-page__2col--padded">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5LbktkByOeo?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="video__description"><%= t('more_reasons.video.description') %>
        <a class="video__transcript-link" target="_blank" href="<%= t('more_reasons.video.download_transcript_link') %>"><%= t('more_reasons.video.download_transcript_text') %></a>
      </p>
    </div>
  </div>
</div>

<div class="l-constrained">
  <section class="l-landing-page__3col">
    <%= heading_tag(t('useful_links.heading'), level: 2, class: 'l-landing-page__heading') %>
    <ul class="unstyled-list">
      <% t('useful_links.links').each do |item| %>
        <li><a href="<%= item[:url] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </section>

  <section class="l-landing-page__3col">
    <%= heading_tag(t('our_promise.heading'), level: 2, class: 'l-landing-page__heading') %>
    <ul class="list-benefits">
      <% t('our_promise.key_points').each do |item| %>
        <li><%= item[:text] %></li>
      <% end %>
    </ul>
  </section>

  <section class="l-landing-page__3col">
    <%= heading_tag(t('retirement_income_options.heading'), level: 2, class: 'l-landing-page__heading') %>
    <p><%= t('retirement_income_options.content') %></p>
    <a  href="<%= t('retirement_income_options.link_url') %>" target="_blank"><%= t('retirement_income_options.link_text') %></a>
  </section>
</div>
