<div data-dough-component="ShowMore">
  <% advisers.each do |adviser| %>
    <div class="adviser t-adviser" data-dough-show-more-item>
      <div class="l-2col">
        <div class="l-2col-even l-adviser-col">
          <div class="address t-address">
            <%= adviser.name %>
          </div>
        </div>
        <div class="l-2col-even l-adviser-col">
          <div>
            <%= I18n.t('search.result.miles_away', distance: format('%.1f', adviser.distance)) %><br>
            <span class="t-postcode"><%= trim_postcode(adviser.postcode) %></span>
            <%= render partial: 'search/partials/firm/qualifications', object: @firm, as: :firm %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <a data-dough-show-more-trigger class="adviser__show-more-trigger is-hidden" href="#">
    <%= t('firms.show.panels.offices.show_more') %>
  </a>
</div>
