<div class="firm__content <%= 'firm__content--remote' if @search_form.phone_or_online? %>">
  <% if @search_form.face_to_face? %>
    <div class="tab-selector" data-dough-component="TabSelector">
      <div data-dough-tab-selector-triggers-outer class="l-firm__tab-triggers tab-selector__triggers-outer is-hidden-no-js">
        <div data-dough-tab-selector-triggers-inner class="tab-selector__triggers-inner">
          <div class="tab-selector__trigger-container is-active" data-dough-tab-selector-trigger-container>
            <a class="tab-selector__trigger" href="#panel-1" data-dough-tab-selector-trigger="1">
              <%= t('firms.show.panels.firm.heading') %>
            </a>
          </div>
          <div class="tab-selector__trigger-container is-inactive" data-dough-tab-selector-trigger-container>
            <a class="tab-selector__trigger" href="#panel-2" data-dough-tab-selector-trigger="2">
              <%= t('firms.show.panels.offices.heading') %>
              (<%= @firm.total_offices %>)
            </a>
          </div>
        </div>
      </div>

      <div class="tab-selector__target is-active" id="panel-1" data-dough-tab-selector-target="1">
        <h2 class="tab-selector__target-heading firm__details-heading"><%= t('firms.show.panels.firm.heading') %></h2>
        <%= render partial: 'firms/partials/firm_details', locals: { firm: @firm, latitude: @latitude, longitude: @longitude, search_form: @search_form } %>
      </div>
      <div class="tab-selector__target is-inactive" id="panel-2" data-dough-tab-selector-target="2">
        <h2 class="tab-selector__target-heading"><%= t('firms.show.panels.offices.heading') %></h2>
        <%= render partial: 'firms/partials/offices', locals: { firm: @firm, offices: @offices } %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'firms/partials/firm_details', locals: { firm: @firm, latitude: @latitude, longitude: @longitude, search_form: @search_form } %>
  <% end %>
</div>
