<% if search_form.face_to_face? %>
  <%= heading_tag(t('firms.show.panels.firm.locations'), level: 3, class: 'l-firm__heading is-hidden-no-js') %>

  <%= firm_map_component(center: {lat: latitude, lng: longitude},
        adviserPinUrl: image_path('pins/adviser.png'),
        officePinUrl: image_path('pins/office.png')) do %>
    <div class="firm__map" data-dough-map></div>

    <ul class="firm__map-pin-items is-hidden">
      <% firm.advisers.each do |adviser| %>
        <li data-dough-map-point data-dough-map-point-type="adviser" data-dough-map-point-lat="<%= adviser.location.latitude %>" data-dough-map-point-lng="<%= adviser.location.longitude %>">
          <%= adviser.name %>
        </li>
      <% end %>
      <% firm.offices.each do |office| %>
        <li data-dough-map-point data-dough-map-point-type="office" data-dough-map-point-lat="<%= office.location.latitude %>" data-dough-map-point-lng="<%= office.location.longitude %>">
          <%= office_address(office) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= heading_tag(t('firms.show.panels.firm.services.heading'), level: 3, class: 'l-firm__heading') %>
<div class="l-2col l-firm__row">
  <div class="l-2col-even">
    <%= heading_tag(t('firms.show.panels.firm.services.types_of_advice.heading'), level: 4, class: 'firm__types-of-advice-heading') %>

    <ul class="plain_list">
      <%= type_of_advice_list_item firm, :retirement_income_products, 'plain_list__item' %>
      <%= type_of_advice_list_item firm, :pension_transfer, 'plain_list__item' %>
      <%= type_of_advice_list_item firm, :options_when_paying_for_care, 'plain_list__item' %>
      <%= type_of_advice_list_item firm, :equity_release, 'plain_list__item' %>
      <%= type_of_advice_list_item firm, :inheritance_tax_planning, 'plain_list__item' %>
      <%= type_of_advice_list_item firm, :wills_and_probate, 'plain_list__item' %>
    </ul>

    <%= heading_tag(t('firms.show.panels.firm.services.advice_methods.heading'), level: 4) %>

    <% if firm.in_person_advice_methods.present? %>
      <div class="advice-method">
        <h5 class="advice-method__heading">
          <%= svg_icon :house, title: t('firms.show.panels.firm.services.advice_methods.in_person'), class: 'advice-method__svg' %>
          <%= t('firms.show.panels.firm.services.advice_methods.in_person') %>
        </h5>
        <ul class="advice-method__list">
          <% firm.in_person_advice_methods.each do |id| %>
            <li class="advice-method__list-item">
              <%= InPersonAdviceMethod.friendly_name(id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% firm.other_advice_methods.each do |id| %>
      <% system_name = OtherAdviceMethod.system_name(id) %>
      <% text = t("firms.show.panels.firm.services.advice_methods.#{system_name}") %>

      <div class="advice-method">
        <h5 class="advice-method__heading">
          <%= svg_icon system_name, title: text, class: 'advice-method__svg' %>
          <%= text %>
        </h5>
      </div>
    <% end %>
  </div>

  <div class="l-2col-even l-firm__callout">
    <div class="callout callout--top-collapse">
      <%= render partial: 'firms/partials/callout_item', locals: { firm: firm, key_element: :minimum_fee, value_text: minimum_fixed_fee(firm) } %>

      <% if firm.investment_sizes.present? %>
        <%= render partial: 'firms/partials/callout_item', locals: { firm: firm, key_element: :minimum_pot_size, value_text: minimum_pot_size_text(firm) } %>
      <% end %>
      <% if firm.free_initial_meeting? %>
        <div class="callout__item" data-further-info>
          <%= t('firms.show.panels.firm.callout.free_initial_meeting.heading') %>
          <%= render 'shared/further_info_trigger' %>
          <p class="is-hidden further-info__content" data-further-info-target>
            <%= t('firms.show.panels.firm.callout.free_initial_meeting.tooltip') %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if firm_has_investing_types?(firm) || firm.languages.present? %>
  <div class="l-firm__row">
    <div class="l-1col firm__divider">

      <% if firm_has_investing_types?(firm) %>
        <%= heading_tag(t('firms.show.panels.firm.services.investing.heading'), level: 4, class: 'firm__service-heading') %>
        <ul class="plain_list">
          <% if firm.ethical_investing_flag %>
            <li class="plain_list__item">
              <%= t('firms.show.panels.firm.services.investing.ethical') %>
            </li>
          <% end %>
          <% if firm.sharia_investing_flag %>
            <li class="plain_list__item">
              <%= t('firms.show.panels.firm.services.investing.sharia') %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if firm.languages.present? %>
        <%= heading_tag(t('firms.show.panels.firm.services.languages'), level: 4, class: 'firm__service-heading') %>
        <ul class="plain_list">
          <% firm_language_list(firm.languages).sort.each do |language| %>
            <li class="plain_list__item">
              <%= language %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>

<% if firm_has_qualifications_or_accreditations?(firm) %>
  <div class="l-firm__row">
    <div class="l-1col firm__divider">
        <%= heading_tag(t('firms.show.panels.firm.services.qualifications.heading'), level: 4) %>
        <% firm.adviser_qualification_ids.each do |id| %>
          <%= render_logo(id, :qualification) %>
        <% end %>
        <% firm.adviser_accreditation_ids.each do |id| %>
          <%= render_logo(id, :accreditation) %>
        <% end %>
    </div>
  </div>
<% end %>
