<footer class="l-footer">
  <div class="l-footer-primary t-footer-primary">
    <div class="l-constrained">
      <%= render 'contact_methods/follow_us' %>
      <div class="l-footer-primary__right">
        <nav role="navigation" aria-label="footer">
          <ul class="l-footer-primary__list">
            <% t('footer_primary.links').each do |item| %>
            <li class="footer-primary__list-item footer-primary__corporate-link">
              <a href="<%= item[:url] %>"><%= raw item[:title] %></a>
            </li>
            <% end %>
          </ul>
          <div class="footer-primary__blog">
            <%= link_to 'Blog', 'https://blog.moneyadviceservice.org.uk', target: "_blank", class: 'footer-primary__blog-link' %>
          </div>
          <div class="footer-primary__clear-english">
            <a
              class="footer-primary__clear-english-link"
              href="https://www.clearest.co.uk/silver-standard"
              target="_blank"
            >
              <span class="icon icon--clear-english"></span>

              <span class="footer-primary__clear-english-text">
                <span>Clear English Standard</span>
                <span>Winning Website</span>
                <span>Silver Level</span>
              </span>
              <span class="visually-hidden">Clear English Award - <%= t('footer.new-window-label') %></span>
            </a>
          </div>
        </nav>
      </div>
      <p class="footer-primary__copyright">&copy; <%= "#{t('footer_primary.copyright.copyright')} #{DateTime.now.year} #{t('footer_primary.copyright.organisation')} #{t('footer_primary.copyright.address')}" %>
      </p>
    </div>
  </div>
  <div class="l-footer-secondary t-footer-secondary">
    <div class="l-constrained">
      <div class="l-footer-secondary--inner">
        <div class="l-footer-secondary__list--left">
          <ul class="l-footer-secondary__list">
            <li class="l-footer-secondary__list-item  l-language-link">
              <a class="t-cy-link" href="https://www.moneyadviceservice.org.uk/cy/empty" lang="cy">
                <span class="icon icon--globe"></span>
                Cymraeg
              </a>
            </li>
            <li class="l-footer-secondary__list-item accessibility-feedback-link">
              <a class="footer-secondary__link" href="http://accessin.org/usersubmit_mas.php?param=nojscript"
                 onclick="window.open('http://accessin.org/usersubmit_mas.php?param=' + window.location,'',
                     'resizable=yes,location=no,scrollbars=yes,toolbar=no,left=20,top=0,height=900,width=800');
                     return false;" title="Please use this button to tell us if you have an accessibility issue on our website"
                 target="_blank">
                <span class="icon icon--accessibility"></span><%= t('footer_secondary.accessin.button') %>
                <span class="visually-hidden"><%= t('footer_secondary.accessin.hidden_text') %></span>
              </a>
            </li>
            <li class="l-footer-secondary__list-item footer-secondary__mps-link">
              <a href="https://moneyandpensionsservice.org.uk/" target="_blank">
                <span class="footer-secondary__mps-text">
                  <span><%= t('footer_secondary.mps_provided_1') %></span>
                  <span><%= t('footer_secondary.mps_provided_2') %></span>
                  <span><%= t('footer_secondary.mps_provided_3') %></span>
                </span>
                <%= image_tag("yeast/assets/images/mps-logo-#{locale}.png", class: 'mps-logo__img', alt: "#{t('footer_secondary.mps')} logo") %>
                <span class="visually-hidden">opens in a new window</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="l-footer-secondary__list--right">
          <ul class="l-footer-secondary__list">
          <% t('footer_secondary.links').each do |item| %>
          <li class="l-footer-secondary__list-item footer-secondary__link-item">
            <a href="<%= item[:url] %>"><%= raw item[:title] %></a>
          </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
