<li class="result t-firm">
  <%= heading_tag(level: 2, class: 'result__heading') do %>
    <span class="result__heading-text t-name">
      <%= link_to firm.name, firm_path(id: firm.id, search_form: params[:search_form]) %>
    </span>
  <% end %>

  <div class="result__information">
    <%= render partial: 'search/partials/firm/adviser_distance', object: firm, as: :firm, locals: { search_form: search_form }%>
    <%= render partial: 'search/partials/firm/num_offices_advisers', object: firm, as: :firm %>
    <%= render partial: 'search/partials/firm/offerings', object: firm, as: :firm %>
    <%= render partial: 'search/partials/firm/qualifications', object: firm, as: :firm %>
  </div>
</li>
