<li class="result t-firm" data-results-module>
  <%= heading_tag(level: 2, class: 'result__heading', data: { results_module_heading: '' }) do %>
    <span class="result__heading-text t-name"><%= firm.name %></span>
    <% if @form.face_to_face? %>
      <span class="result__adviser-distance t-adviser-distance"><%= t('search.result.adviser') %> <%= firm.closest_adviser %></span>
    <% end %>
  <% end %>

  <div class="is-hidden-on-mobile" data-results-module-target>
    <%= render partial: 'search/partials/firm/contact_details', object: firm, as: :firm %>
    <%= render partial: 'search/partials/firm/advice_types', object: firm, as: :firm %>
    <%= render partial: 'search/partials/firm/qualifications', object: firm, as: :firm %>
  </div>
</li>
