<li class="result t-firm" data-results-module>
  <%= heading_tag(level: 2, class: 'result__heading', data: { results_module_heading: '' }) do %>
    <span class="result__heading-text t-name">
      <%= link_to firm.name, firm_path(id: firm.id, search_form: params[:search_form]) %>
    </span>
  <% end %>

  <div class="is-hidden-on-mobile" data-results-module-target>
    <div class="result__information">
      <%= render partial: 'search/partials/firm/adviser_distance', object: firm, as: :firm, locals: { search_form: search_form }%>
      <%= I18n.t('search.result.number_of_offices_and_advisers', office_count: 0, adviser_count: firm.advisers.size) %>
    </div>
    <%= render partial: 'search/partials/firm/advice_types', object: firm, as: :firm %>
    <%= render partial: 'search/partials/firm/qualifications', object: firm, as: :firm %>
  </div>
</li>
