<div class="l-results__main">
  <% if @form.valid? %>
    <% if @result.firms.any? %>
      <p class="l-results__summary"><%= t('search.summary_of_results.showing') %> <span class="t-first-record"><%= @result.first_record %></span> <%= t('search.summary_of_results.to') %> <span class="t-last-record"><%= @result.last_record %></span> <%= t('search.summary_of_results.of') %> <span class="t-total-records"><%= @result.total_records %></span> <%= t('search.summary_of_results.firms') %></p>
    <% else %>
      <p><%= t('search.no_results_message') %></p>
    <% end %>

    <ol class="l-results__list">
      <%= render partial: 'search/partials/firm', collection: @result.firms, as: :firm %>
    </ol>

    <%= paginate @result %>

  <% else %>
    <p class="t-incorrect-criteria"><%= t('search.incorrect_search_criteria') %></p>
  <% end %>
</div>
