<% if @form.valid? %>
  <% if @result.firms.any? %>
    <div class="l-results__summary">
      <p class="l-results__summary-text t-results-summary-text">
        <%= t('search.summary_of_results.showing',
              first_record: @result.first_record,
              last_record: @result.last_record,
              total_records: @result.total_records) %>
      </p>
    </div>
  <% else %>
    <p><%= t('search.no_results_message') %></p>
  <% end %>

  <ol class="l-results__list">
    <%= render partial: 'search/partials/firm', collection: @result.firms, as: :firm %>
  </ol>

  <%= paginate @result %>

<% else %>
  <p class="t-incorrect-criteria"><%= t('search.incorrect_search_criteria') %></p>
<% end %>
