<div class="l-results__side t-search-result-form">
  <section class="search-filter search-filter--border t-criteria" data-results-module>
    <%= form_for @form, url: search_path, method: :get, html: { class: 'form search-filter__form', novalidate: true }, builder: Dough::Forms::Builders::Validation do |f| %>
      <%= hidden_field_tag(:origin, 'results') %>

      <%= content_for :validation_summary do %>
        <div class="l-constrained">
          <div class="l-landing-page__validation">
            <%= f.validation_summary %>
          </div>
        </div>
      <% end %>

      <%= heading_tag(t('search.filter.heading'), level: 2, class: 'search-filter__heading search-filter__heading--first', data: { results_module_heading: '' }) %>

      <div class="search-filter--container is-hidden-on-mobile" data-results-module-target="closed">
        <div class="l-results__filter">
          <fieldset class="form__group search-filter__section" data-further-info>
            <legend class="search-filter__label search-filter__label--padded"><%= t('search.filter.receive_advice.heading') %><%= render 'shared/further_info_trigger' %></legend>
            <p class="is-hidden further-info__content" data-further-info-target>
              <% t('search.filter.receive_advice.tooltip').each do |item| %>
                <%= item[:text] %>
                <br/>
                <br/>
              <% end %>
            </p>

            <div class="l-results__form-row" data-results-filter>
              <%= f.form_row(:postcode) do %>
                <%= f.errors_for :postcode %>

                <div class="form__group-item">
                  <%= f.radio_button :advice_method, SearchForm::ADVICE_METHOD_FACE_TO_FACE, class: 'form__group-input t-face_to_face_advice', data: { results_filter_trigger: '1' } %>
                  <%= f.label :advice_method, t('search.filter.receive_advice.face_to_face'), value: SearchForm::ADVICE_METHOD_FACE_TO_FACE %>
                </div>

                <div class="form__group-item search-filter__item-inset is-hidden" data-results-filter-target="2">
                  <%= f.label :postcode, t('search.filter.receive_advice.postcode_label'), class: 'form__label-heading' %>
                  <%= f.text_field :postcode, class: 'search-filter__field search-filter__field--padded t-postcode', maxlength: 8, required: true %>
                </div>
              <% end %>

              <%= f.form_row(:advice_methods) do %>
                <%= f.errors_for :advice_methods %>

                <div class="form__group-item">
                  <div class="control-with-tooltip">
                    <%= f.radio_button :advice_method, SearchForm::ADVICE_METHOD_PHONE_OR_ONLINE, class: 'form__group-input t-phone_or_online' %>
                    <%= f.label :advice_method, t('search.filter.receive_advice.phone_online'), value: SearchForm::ADVICE_METHOD_PHONE_OR_ONLINE %>
                  </div>

                  <div class="search-filter__item-inset is-hidden" data-results-filter-target="1">
                    <%= f.collection_check_boxes(:advice_methods, remote_advice_methods, :id, :name) do |advice_method| %>
                      <div class="form__group-item">
                        <%= advice_method.check_box class: "form__group-input t-advice_methods t-advice-method-#{advice_method.object.order}" %>
                        <%= advice_method.label class: 'search-filter__option' do %>
                          <%= t("other_advice_method.ordinal.#{advice_method.object.order}") %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>

        <div class="l-results__filter search-filter__section">
          <%= search_filter_options(f, 'results_page') %>
        </div>

        <div class="l-results__filter-button-container search-filter__section">
          <%= render 'shared/search_button', button_class: "l-results__filter-button" %>
        </div>
      </div>

    <% end %>
  </section>
</div>
