<div class="l-results__side t-search-result-form">
  <section class="search-filter search-filter--border t-criteria" data-results-module>
    <%= form_for @form, url: search_path, method: :get, html: { class: 'form form--collapse', novalidate: true }, builder: Dough::Forms::Builders::Validation do |f| %>
      <%= hidden_field_tag(:origin, 'results') %>

      <%= content_for :validation_summary do %>
        <div class="l-constrained">
          <div class="l-landing-page__validation">
            <%= f.validation_summary %>
          </div>
        </div>
      <% end %>

      <%= heading_tag(t('search.filter.heading'), level: 2, class: 'search-filter__heading search-filter__heading--first', data: { results_module_heading: '' }) %>

      <div class="search-filter--container is-hidden-on-mobile" data-results-module-target="closed">
        <div class="l-results__filter">
          <fieldset class="form__group search-filter__section" data-further-info>
            <legend class="search-filter__label search-filter__label--padded">
              <%= t('find_retirement_adviser.heading') %><%= render 'further_info_trigger' %>
            </legend>
            <%= render 'further_info_content' %>
            <%= render 'search/partials/filters/advice_method', f: f %>
          </fieldset>
        </div>

        <div class="l-results__filter search-filter__section">
          <hr class="search-filter__divider">
          <%= search_filter_options(f, 'results_page') %>
        </div>

        <div class="l-results__filter search-filter__section">
          <hr class="search-filter__divider">
          <%= render 'search/partials/filters/investment_sizes', f: f, form: @form %>
        </div>

        <div class="l-results__filter search-filter__section">
          <hr class="search-filter__divider">
          <%= render 'search/partials/filters/qualifications_and_accreditations', f: f, form: @form  %>
        </div>

        <% if feature_enabled?('SHOW_LANGUAGES_FILTER') %>
          <div class="l-results__filter search-filter__section">
            <hr class="search-filter__divider">
            <%= render 'search/partials/filters/languages', f: f, form: @form %>
            <hr class="search-filter__divider">
          </div>
        <% end %>

        <div class="l-results__filter search-filter__section">
          <%= render 'search/partials/filters/workplace_financial_advice', f: f %>
          <hr class="search-filter__divider">
        </div>

        <div class="l-results__filter-button-container search-filter__section">
          <%= render 'search_button', button_class: "l-results__filter-button" %>
        </div>
      </div>
    <% end %>
  </section>

  <section class="is-hidden-on-mobile">
    <%= heading_tag(t('more_help.heading'), level: 3) %>

    <p><%= t('more_help.content') %></p>

    <ul class="unstyled-list">
      <% t('more_help.links').each do |link| %>
        <li><%= link_to(link[:title], link[:url]) %></li>
      <% end %>
    </ul>
  </section>
</div>
