<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="<%= I18n.locale %>" class="ie ie8 no-js"> <![endif]-->
<html lang="<%= I18n.locale %>">
<head>
  <title><%= page_tag('title_tag') %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= page_tag('meta_tag_description') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link href="https://directory.moneyadviceservice.org.uk/en" hreflang="en-GB" rel="alternate" />
  <link href="https://directory.moneyadviceservice.org.uk/cy" hreflang="cy-GB" rel="alternate" />
  <link href="https://directory.moneyadviceservice.org.uk/<%= I18n.locale %>" rel="canonical" />

  <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/font_files' %>

  <%= favicon_link_tag 'favicon.ico' %>

  <% # Dough assets are loaded from a CDN instead of from the Gem. Do make sure that the CDN version is the same as the Gem version. %>
  <link href="https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/dough/assets/stylesheets/basic-c6f0bc03dbe96c1cc8b39033ef43f72f.css" media="screen" rel="stylesheet" />

  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
  <link href="https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/dough/assets/stylesheets/font_files-dcbb90df70309af8f6ceeaff0db9a5af.css" media="screen" rel="stylesheet" />
  <link href="https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/enhanced_fixed-1cca1e76da0e2d48be990410a432379f.css" media="all" rel="stylesheet" />
  <script src="https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/html5shiv/dist/html5shiv-ccc40f0f8bab80e89dfead2f99f6efdf.js"></script>
  <script>var responsiveStyle = false;</script>
  <![endif]-->

  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
  <link href="https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/enhanced_responsive-d8208fa73813e571e25d02f662719e85.css" media="only all" rel="stylesheet" />
  <script>var responsiveStyle = true;</script>
  <!--<![endif]-->

  <script type="text/javascript">
    var dataLayer = window.dataLayer || [];
    dataLayer.push({
      'Responsive page': 'Yes',
      'event': 'Responsive page'
    });

    var require = {
      config: {
        globals: (function(w, d) {
          var html, appendFile, bootstrap, fonts, supports;

          appendFile = function(tag, src, content) {
            var position = d.getElementsByTagName('script')[0],
                file = d.createElement(tag);
            if (tag === 'script') {
              file.async = true;
              file.type = "text/javascript";
            }
            if (src) file.src = src;
            if (content) file.innerHTML = content;
            position.parentNode.insertBefore(file, position);
          };

          html = d.getElementsByTagName('html')[0];

          bootstrap = {
            env: 'production',
            timestamp: new Date().getTime(),
            i18nLocale: 'en',
            googleApiCx: '011931388747222259444:qxgwfm5hlog'
          };

          fonts = {
            url: 'https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/dough/assets/stylesheets/font_base64-28a0a91cf9910ceb5cc55a64841ae31a.css',
            cacheName: 'MAS.fonts',
            loadClass: 'wf-museosans-n4-active fontsLoaded',
            localstorage: undefined,
            loadWithJS: responsiveStyle
          };

          supports = (function() {
            var S = {};

            function supportTest(prop, context) {
              try {
                return prop in context && context[prop] !== null;
              } catch (e) {
                return false;
              }
            }

            S.js = supportTest('querySelector', d) && supportTest('localStorage', w) && supportTest('addEventListener', w) ? 'advanced' : 'basic';
            S.touch = supportTest('ontouchstart', w) || supportTest('onmsgesturechange', w);
            S.localstorage = supportTest('localStorage', w);
            S.svg = (function() {
              return !!d.createElementNS && !!d.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect
            })();
            S.test = supportTest;

            return S
          })();


          if (supports.localstorage && localStorage.getItem(fonts.cacheName) !== null) {
            html.className = html.className += (' ' + fonts.loadClass);
            appendFile('style', false, localStorage.getItem(fonts.cacheName));
            fonts.localstorage = true;
          }

          html.className = html.className.replace('supports-js', 'supports-js js js-' + supports.js);

          setTimeout(function() {
            var src = d.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/4438.js?" + Math.floor(new Date().getTime() / 3600000);
            appendFile('script', src);
          }, 1);

          var vp, ua, gs, sf;
          vp = d.querySelector && d.querySelector('meta[name="viewport"]');
          ua = navigator.userAgent;
          sf = function() {
            if (vp && /iPhone|iPad|iPod/.test(ua) && !/Opera Mini/.test(ua)) {
              vp.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
              d.addEventListener("gesturestart", gs, false);
            }
          };
          gs = function() {
            vp.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
          };

          return {
            bootstrap: bootstrap,
            fonts: fonts,
            supports: supports
          };
        })(window, document)
      }
    };
  </script>

  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <script>var responsiveStyle = false;</script>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
  <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
  <script>var responsiveStyle = true;</script>
  <!--<![endif]-->

  <script>
    <%= raw Rails.application.assets['modernizr/modernizr'] %>
  </script>
</head>
<body id="top">
  <% if Rails.env.production? %>
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVFLH9" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe>
    </noscript>

    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WVFLH9');
    </script>
  <% end %>

  <a class="skip-to-link" href="#main"><%= t('skip_links.to_main') %></a>
  <a class="skip-to-link" href="<%= t('skip_links.to_accessibility_link') %>"><%= t('skip_links.to_accessibility') %></a>

  <%= render 'shared/svg_icons' %>
  <%= render 'shared/header' %>

  <div class="l-context-bar">
    <div class="l-constrained">
      <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <ul class="unstyled-list">
          <li class="breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a class="breadcrumbs__link" href="<%= t('mas_home_url') %>" itemprop="url">
              <span itemprop="title"><%= t('breadcrumbs.home') %></span>
            </a>
          </li>
          <li class="breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <span class="visually-hidden">&gt;</span>
            <span class="breadcrumbs__divider" aria-hidden="true"></span>
            <a class="breadcrumbs__link" href="<%= t('breadcrumbs.pension_and_retirement_url') %>" itemprop="url">
              <span itemprop="title"><%= t('breadcrumbs.pension_and_retirement') %></span>
            </a>
          </li>
          <li class="breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <span class="visually-hidden">&gt;</span>
            <span class="breadcrumbs__divider" aria-hidden="true"></span>
            <a class="breadcrumbs__link" href="<%= t('breadcrumbs.financial_advice_url') %>" itemprop="url">
              <span itemprop="title"><%= t('breadcrumbs.financial_advice') %></span>
            </a>
          </li>
          <li class="breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <span class="visually-hidden">&gt;</span>
            <span class="breadcrumbs__divider" aria-hidden="true"></span>
            <a class="breadcrumbs__link" href="<%= t('breadcrumbs.directory_url') %>" itemprop="url">
              <span itemprop="title"><%= t('breadcrumbs.directory') %></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <main role="main" id="main">
    <%= content_for :validation_summary %>

    <%= yield %>

    <div class="l-constrained">
      <div class="l-contact-panels t-contact-panels  ">

        <div class="l-contact-panel">
          <div class="contact-panel contact-panel__chat-open t-chat" id="js-chat">
            <h2 aria-level="2" class="contact-panel__heading" role="heading"><span class="icon icon--web-chat"></span><%= t('contact_panels.webchat.heading') %></h2>
            <p class="contact-panel__chat-javascript t-chat-javascript">
              <%= t('contact_panels.webchat.nojs_html') %></a>.
            </p>

            <div class="contact-panel__dynamic-content is-loading" id="js-chat-content">
              <div class="contact-panel__preloader"></div>
              <p class="contact-panel__chat-description t-chat-description" id="js-chat-description">
                <%= t('contact_panels.webchat.directions') %>
              </p>

              <div class="contact-panel__button-container" id="js-chat-cta">
                <div class="contact-panel__button button is-disabled t-chat-button">
                  <%= t('contact_panels.webchat.default_status') %>
                </div>
              </div>
            </div>

            <ul class="t-chat-opening-times contact-panel__list unstyled-list">
              <li class="contact-panel__additional-info"><%= t('contact_panels.webchat.opening_hours.weekdays_html') %></li>
              <li class="contact-panel__additional-info"><%= t('contact_panels.webchat.opening_hours.saturday_html') %></li>
              <li class="contact-panel__additional-info"><%= t('contact_panels.webchat.opening_hours.sunday_html') %></li>
            </ul>
          </div>
        </div>

        <div class="contact-panel__border"></div>

        <div class="l-contact-panel">
          <div class="contact-panel">
            <h2 aria-level="2" class="contact-panel__heading t-contact-heading" role="heading"><span class="icon icon--call-us"></span><%= t('contact_panels.call_us.heading') %></h2>
            <p class="t-contact-introduction"><%= t('contact_panels.call_us.description') %></p>
            <p><a class="contact-panel__telephone t-contact-number" href="<%= t('contact_panels.call_us.telephone_number_url') %>"><%= t('contact_panels.call_us.telephone_number') %> *</a></p>

            <ul class="contact-panel__list">
              <li class="contact-panel__additional-info"><%= t('contact_panels.call_us.opening_hours.weekdays') %></li>
              <li class="contact-panel__additional-info"><%= t('contact_panels.call_us.opening_hours.saturday') %></li>
            </ul>

            <p class="smallprint">* <%= t('contact_panels.call_us.smallprint_html') %></p>
          </div>
        </div>

        <div class="contact-panel__border"></div>

        <div class="l-contact-panel">
          <div class="contact-panel contact-panel--last t-footer-social-links">
            <h2 aria-level="2" class="contact-panel__heading" role="heading"><span class="icon icon--sharing"></span><%= t('contact_panels.social.heading') %></h2>
            <p><%= t('contact_panels.social.description') %></p>

            <div class="contact-panel__button-container">
              <a class="button contact-panel__button contact-panel__button--sharing t-twitter-link" lang="en" href="https://twitter.com/YourMoneyAdvice">
                <span class="icon icon--twitter"></span>
                <span class="visually-hidden"><%= t('contact_panels.social.twitter') %></span>
              </a>

              <a class="button contact-panel__button contact-panel__button--sharing t-facebook-link" lang="en" href="https://www.facebook.com/MoneyAdviceService?ref=mas">
                <span class="icon icon--facebook"></span>
                <span class="visually-hidden"><%= t('contact_panels.social.facebook') %></span>
              </a>

              <a class="button contact-panel__button contact-panel__button--sharing t-youtube-link" lang="en" href="https://www.youtube.com/user/MoneyAdviceService">
                <span class="icon icon--youtube"></span>
                <span class="visually-hidden"><%= t('contact_panels.social.youtube') %></span>
              </a>
            </div>

            <p class="contact-panel__additional-info"><%= t('contact_panels.social.contact_html') %></p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="l-footer">
    <div class="l-footer-primary t-footer-primary">
      <div class="l-constrained">

        <div class="l-footer-primary__left">
          <form accept-charset="UTF-8" action="/en/newsletter-subscription" class="newsletter-signup t-newsletter" data-remote="true" method="post">
            <div style="display:none">
              <input name="utf8" type="hidden" value="&#x2713;" />
            </div>

            <input id="authenticity_token" name="authenticity_token" type="hidden" value="jeMmyTCj0dxGGMlOBX36RByXc9uH5VZe4/2aGpTnnoI=" />
            <h2 aria-level="2" class="newsletter-signup__heading" role="heading"><%= t('footer_primary.newsletter.heading') %></h2>

            <ul class="newsletter-signup__benefits-list list-benefits">
              <%= t('footer_primary.newsletter.benefits_html') %>
            </ul>

            <fieldset class="newsletter-signup__form js-newsletter-form" id="newsletter_signup">
                <a href="https://www.moneyadviceservice.org.uk/en/static/contact-us#newsletter_signup" class="t-newsletter-button button newsletter-signup__button newsletter-signup__button--third-party button--normal-white-space"><%= t('footer_primary.newsletter.sign_up') %></a>
            </fieldset>
          </form>
        </div>

        <div class="l-footer-primary__right">
          <nav role="navigation" aria-label="footer">
            <ul class="l-footer-primary__list l-footer-primary__list--left">
              <% t('footer_primary.links_left').each do |item| %>
              <li class="footer-primary__list-item">
                <a href="<%= item[:url] %>"><%= item[:title] %></a>
              </li>
              <% end %>
            </ul>

            <ul class="l-footer-primary__list l-footer-primary__list--right">
              <% t('footer_primary.links_right').each do |item| %>
              <li class="footer-primary__list-item">
                <a href="<%= item[:url] %>"><%= raw item[:title] %></a>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>

      </div>
    </div>

    <div class="l-footer-secondary t-footer-secondary">
      <div class="l-constrained">

        <div class="l-footer-secondary__list--left">
          <ul class="footer-secondary__list">
            <li class="footer-secondary__list-item l-language-link">
              <a class="t-cy-link" href="https://www.moneyadviceservice.org.uk/cy/empty" lang="cy">
                <span class="icon icon--globe"></span>
                Cymraeg
              </a>
            </li>

            <li class="footer-secondary__list-item accessibility-feedback-link">
              <a class="footer-secondary__link" href="http://accessin.org/usersubmit_mas.php?param=nojscript"
                 onclick="window.open('http://accessin.org/usersubmit_mas.php?param=' + window.location,'',
                     'resizable=yes,location=no,scrollbars=yes,toolbar=no,left=20,top=0,height=900,width=800');
                     return false;" title="Please use this button to tell us if you have an accessibility issue on our website"
                 target="_blank">
                <span class="icon icon--accessibility"></span><%= t('footer_secondary.accessin.button') %>
                <span class="visually-hidden"><%= t('footer_secondary.accessin.hidden_text') %></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="l-footer-secondary__list--right">
          <ul class="footer-secondary__list">
            <% t('footer_secondary.links').each do |item| %>
            <li class="footer-secondary__list-item">
              <a href="<%= item[:url] %>"><%= raw item[:title] %></a>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </footer>

<%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>

<script src="https://masjumpprdstorage.blob.core.windows.net/responsive-assets/a/webchat-8a47f66c98f9abd3ce2afd710aff5891.js"></script>
<script type='text/javascript'>
  sWODomain = 'www.moneyadviceservice.org.uk';

  sWOImageLoaded = function() {

    var chatCTA = document.getElementById('js-chat-cta'),
        chatDescription = document.getElementById('js-chat-description'),
        chatContent = document.getElementById('js-chat-content');

    if (sWOImage.width == 1) {

      var sWOChatElement = document.createElement('div');
      var sWOChatElementText = document.createTextNode("Currently busy");

      sWOChatElement.className = "contact-panel__button button is-disabled t-chat-button";
      sWOChatElement.appendChild(sWOChatElementText);

      chatCTA.innerHTML = "";
      chatCTA.appendChild(sWOChatElement);
      chatDescription.innerHTML = "Sorry, all of our advisers are currently busy. Please try again later.";

      chatContent.className = "contact-panel__dynamic-content is-loaded";

    } else {

      var sWOChatElement = document.createElement('a');
      var sWOChatElementText = document.createTextNode("Launch chat");
      sWOChatElement.className = "contact-panel__button button t-chat-button";
      sWOChatElement.appendChild(sWOChatElementText);

      chatCTA.innerHTML = "";
      chatCTA.appendChild(sWOChatElement);
      chatDescription.innerHTML = "Got a question? Our advisers will point you in the right direction.";
      chatContent.className = "contact-panel__dynamic-content is-loaded";


      sWOChatElement.onclick = function() {
        window.open(sWOChatElement.href, "Chat", "width=484,height=361,scrollbars=yes,resizable=yes");
        return false;
      };

      sWOChatElement.href = sWOChatstart;
      sWOChatElement.target = "_blank";
    }
  };

  if (typeof sWOTrackPage == 'function') {
    sWOTrackPage();
    setTimeout("sWOInvite='';sWOResponse='N';sWOPage=(sWOPage || '')+'%3Ftimer%3Dtrue';sWOTrackPage();", 30000);
  }
</script>

<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0018/4438.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
</body>
</html>
